* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: OpenSans, sans-serif !important;
}
.top-header{background-color: #ffff; height: 75px; }
.posit{position: relative; top: 33%;}
.posit1{position: relative; top: 28%;}
.under-header{background-color: #992d33; height: 181px!important;}
.footer1{background-color: #f4f4f4;}

.padd{padding: 0px; padding-left: 20px; margin-top: 20px;}
.padd2{padding: 0px; margin-top: 3px;}
.paddl{padding: 0px; padding-right: 75px;}
.paddleft{padding-left: 30px;}
.margtop{margin-top: 15px;}
.margtop2{margin-top: 8px;}
.description1{  object-fit: contain;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #ffff;}
.description2{  object-fit: contain;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffff;}
.boldtobe{font-weight: bold;}
.padding40{padding-left: 40px;}
.redflag{
  object-fit: contain;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  padding-left: 10px;}
.paddingl15{padding-left: 15px;}
.paddingl52{padding-left: 52px;}
.features {
  object-fit: contain;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;width: 33.33%}
.searchbarsize{
	width: 80%!important;
  margin: 0 auto;
	border-radius: 4px;
  background-color: #eaeaea;}
.font12{font-size: 12px;}
.stili90{width: 90%;}
.inputnr{
  width: 42%!important;
  font-size: 12px;
  height: 28px!important;
  padding: 2.5px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #aaa;
  text-align: left;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-color: #fff;
}
.spanex{    display: flex;
    left: 20.4%!important;
    position: relative;}

.nrcolor{
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #e21b1b;
  z-index: 100;
  margin: 0;
  bottom: 50%;
  position: relative;
  }

.nrcolor2{width: 16px;
  height: 19px;
  object-fit: contain;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #e21b1b;position:relative;left: 22px;top: 7px;}
.contact{
  object-fit: contain;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 33.33%}
.spaflex{width: 220px; padding-left: 10px;}
.about {
  object-fit: contain;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;width: 33.33%}
.filterat{object-fit: contain;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #84292b;}
.ruajfilterat{object-fit: contain;
  font-size: 14px;
  font-weight: bold;
  width: 125px;
  height: 40px!important;
  margin-left: 30px;
  font-style: normal;
  font-stretch: normal;
  line-height: 10px;
  letter-spacing: normal;
  color: #7f7f7f; position: relative; color: #84292b;border-radius: 4px;}
  .ruajfilterat2{
  object-fit: contain;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.93;
  letter-spacing: normal;
  color: #7f7f7f;}
.base{  width: 315px;
  height: 80px;
  border-radius: 10px;
  background-color: #f4f4f4;}
.tekstidata{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.93;
  letter-spacing: normal;
  color: #131313;
}
.base2{  height: 85px;border-radius: 10px;margin: 0;
  width: 100%;
  font-family: "Exo", sans-serif;
  color: #fff;
  background-color: #b14449;
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
}
.tekstidata2{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.93;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.kolor{background: linear-gradient(270deg,#a73c42 0,#541e21); color: white;}
.kolor2 {
  width: 120px;
  background-color: #84292b;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 6px;}
.margl{position: relative; left: 6%;}
.risk{
  font-size: 12px;
  margin-bottom: 23px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;}
.moremore{
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.77;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  padding-left: 10px;}
.radius1{  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  top: 25%;
  left: 5%;}
.width100{margin: 0;}
.base3{width: 100%;
  height: 44px;
  border-radius: 10px;
  background-color: #f4f4f4;}
.txtcenter{text-align: center}
.pad3flag{padding: 10px 0px 0px 13px;}
.pad4flag{padding: 10px 0px 5px 15px;}
.titullitenderit{
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-decoration: underline;
  letter-spacing: normal;
  color: #7f7f7f;}
.tekstisip{
  object-fit: contain;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;}
.nr{object-fit: contain;

  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.77;
  letter-spacing: normal;
  text-align: left;
  color: #84292b;
  padding-left: 8px;
  padding-top: 10px;}
.checkboxperflag{margin-left: 18px; margin-top: 16.5px;}
.tendertitle{ width: 410px;
  height: 74px;
  object-fit: contain;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  padding-left: 17px;}
.flagpos{margin-bottom: 42px;}
.furnizuesit{
   width: 145px;
  height: 21px;
  object-fit: contain;

  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  padding-left: 45px;}
.bleresit{
  width: 131px;
  height: 21px;
  object-fit: contain;

  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  position: relative;
  left: 7%;}
.nenshkrimet{width: 73.9px;
  height: 21px;
  object-fit: contain;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  position: relative;
  left: 11%;}
.cmimitvsh{width: 57px;
  height: 21px;
  object-fit: contain;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  position: relative;
  left: 20%;}
.base4{width: 100%;
  height: 85px;
  border-radius: 10px;
  background-color: #992d33;}
.bg{width: 862.7px;
  height: 454.5px;
  border-radius: 10px;
  background-color: #f4f4f4;}
.bg1{width: 374px;
  height: 454.5px;
  object-fit: contain;
  border-radius: 10px;
  background-color: #f4f4f4;}
.percent{position: relative; left: 7%;}
.tableofauthority{width: 315px;
  height: 697.5px;
  object-fit: contain;
  border-radius: 10px;
  background-color: #f4f4f4;
  margin-top: 30px;}
.top10{object-fit: contain;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #4d4f5c;
  height: 100px;
  padding: 1px 12px 1px 3px;
  border-radius: 10px;
  }
.dot{height: 35px;
  width: 35px;
  background-color: #ffff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20px;}
.totaltenders3{
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;}
.totaltenders4{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;}
.mhr{position: relative;top: 2%; width: 90%;}
.undertank{width: 315px;
  object-fit: contain;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #43425d;position: relative;left: 10%;top: 8px;}
.undertank1{
  font-size: 14px;
  padding-top: 5px;
  font-stretch: normal;
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
  margin: 0;
  color: #43425d;}
.userretention{
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;}
.paddings{padding: 25px 35px 0 40px;}
.paddings2{padding: 25px 0 0 30px;}
.undertank2{width: 260px;
  object-fit: contain;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #43425d;
  position: relative;
  left: 10%;top: 7px;}
.totaltenders{width: 57px;
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: relative;
  left: 30%;
  bottom: 40%;}
.totaltenders2{
  width: 193px;
  height: 17px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: relative;
  left: 30%;
  bottom: 60%;
  margin: 0;}
.iconpos{position: relative;
    top: 13px;
    left: 10%;
    margin: 0;
    width: 30.8px;
    height: 30.8px;
    object-fit: contain;}
.iconpos1{position: relative;
    top: 10px;
    left: 10%;
    margin: 0;
    width: 30.8px;
    height: 30.8px;
    object-fit: contain;}
.radhitja{width: 434px;
  height: 22px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  padding: 15px 0 0 20px;}
.indikatori{
  width: 258px;
  height: 44px;
  object-fit: contain;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
  padding: 15px 0 0 20px;}
.jscontent{justify-content: flex-end;}
.copyright1{
  object-fit: contain;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #7f7f7f;
}
@media only screen and (max-width: 767px){
  p.copyright3{
    margin-right: 150px;
  }
}
@media only screen and (max-width: 750px){
  p.copyright1{padding-top: 15px}
  p.copyright2{padding-top: 30px}
  p.copyright3{padding-top: 30px}
}
.span2{padding: 25px 10px 0 0px;}
.span3{margin-left: 16px;}
.span4{padding: 25px 0 0 70px;}
.span5{padding: 25px 0 0 7px;}
.span6{padding: 25px 0 0 18px;}
.span7{padding: 25px 0 0 64px;}
.sosize{width: 150px;height: 28px;}
.inpt{object-fit: contain;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #d7dae2;
  background-color: #ffffff;}
  .inpt2{object-fit: contain;
  border-radius: 4px;
  border: 1px solid #aaa;
  font-size: 12px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;width: 90px; height: 28px;}
.topnav {
  overflow: hidden;
  background-color: #ffff;
  position: relative;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: #973d3b;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.selectwidth{width: 150px;
    height: 28px;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d7dae2;
    background-color: #ffffff;}
.selectwidth2{width: 150px;
    height: 28px;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d7dae2;
    background-color: #ffffff;}
.selectwidth3{width: 150px;
    height: 28px;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d7dae2;
    background-color: #ffffff;}
.base5{width: 99%;
  height: 100%;
  border-radius: 10px;
  background-color: #f4f4f4;}
.base6{width: 100%;
  height: 90.5%;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid #f4f4f4;
  background-color: #fff;
  /* background-image: url('../img/opac.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 280px; */
}
.base7{width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid #f4f4f4;
  background-color: #fff;
  /* background-image: url('../img/opac.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 280px; */
}
.topnav a.icon {
  background: #ffff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.ballon1{position: relative;left: 10%;}
@media only screen and (max-width: 750px){
  .ruajfilterat2{
    margin-left: 24px;
  }
}
.rectangle{height: 35px;width: 45px;background-color: #84292b; float: left;}
.rectangle2{height: 35px;width: 45px;background-color: #e21b1b; float: left; margin-left: 15px;}
.rectangle3{height: 35px;width: 45px;background-color: #e54646; float: left; margin-left: 15px;}
.rectangle4{height: 35px;width: 45px;background-color: #ea8b8b; float: left; margin-left: 15px;}
.rectangle5{height: 35px;width: 45px;background-color: #ea8b8b; float: left; margin-left: 15px;}
.rectangle6{height: 35px;width: 45px;background-color: #ea8b8b; float: left; margin-left: 15px;}
.rectangle7{height: 35px;width: 45px;background-color: #ea8b8b; float: left; margin-left: 15px;}
.zeroto7{width: 62px;
  height: 21px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #858997;}
@media only screen and (min-width: 1400px) {
  input.form-control.searchbarsize{
    width: 697px;
  }
}
@media only screen and (min-width: 1200px){
  div.container-fluid{
    display: flex!important;
  }
  div.base6{
    width: 100%;
  }
}
@media only screen and (max-width: 750px){
  .redflag{
    font-size: 18px;
  }
}
@media only screen and (min-width: 1400px){
  .span1{
    left: 84%;
  }
}
@media only screen and (min-width: 1024px){
  div.topnav {
    display: none;
  }

}
@media only screen and (max-width: 1024px){
  div.row.top-header{
    display: none!important;
  }
}
@media only screen and (min-width: 1024px){
    .form2{width: 100%; margin:0;}
    div.part1{
      display: flex!important;
    }
  }
@media only screen and (max-width: 1200px){
  span.description1{
    font-size: 23px;
  }
  span.description2{
    font-size: 18px;
  }
}
/* @media only screen and (max-width: 1319px){
  div.base5{margin-top: 25px;}
  div.base6{margin-top: 25px;}
  div.base7{margin-top: 25px;}
}
@media only screen and (max-width: 525px){
  div.rectangle7{
    margin-left: 0;
    margin-top: 8px;
  }
}
@media only screen and (max-width: 700px){
  div.col-sm-12.col-md-9.col-lg-9{
     overflow-x: auto; white-space: nowrap;
  }
}
@media only screen and (max-width: 1318px){
  div.container-fluid.margtop{
    text-align: -webkit-center;
  }
} */
div.col-lg-3.align-self-center.d-flex > a {
  width: 33.33%;
  color: #fff;
  text-decoration: none!important;
  position: relative;
}
.imgpos{
  position: relative; top: 4px;
}
.colorgray{color: #7f7f7f;}
a.one:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -22px;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.one:hover:after {
  width: 100%;
  left: 0;
}
a.two:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -22px;
  content: "";
  display: block;
  height: 4px;
  left: 52%;
  position: absolute;
  background: #fff;;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.two:hover:after {
  width: 100%;
  left: 0;
}
a.three:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -22px;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.three:hover:after {
  width: 100%;
  left: 0;
}
.backtrans{
  background-color: transparent;
}
.wid77{width: 76%; float: left;}

/* @media only screen and (max-width: 1200px)  {
  .inpt2{
    width: 30%!important;
  }
  .ms-parent.akontraktuese{
    width: 95%!important;
  }
}
@media only screen and (max-width: 1320px) {
  div.col-sm-12.col-md-9.col-lg-9{
    margin-top: 30px;
  }
}
@media only screen and (max-width: 570px){
  div.base6{
    width: 100%!important;
  }
  div.base7{
    width: 100%!important;
  }
}
@media only screen and (max-width: 750px){
  div.base{
    width: 100%;
  }
  span.d-flex.spaflex{
    width: 100%;
  }
  div.base2.padd{
    width: 100%;
  }
  p.ruajfilterat2.padd{
    width: 100%;
  }

}
@media only screen and (max-width: 560px){
  div.base4.d-flex{
    width: 100%;
  }
}
  span.span4{
        position: relative;
    left: 20%;
  }
  span.span5{
        position: relative;
    left: 20%;
  }
  span.span6{
        position: relative;
    left: 20%;
  }
  span.span7{
    position: relative;
    left: 20%;
  }
}
@media only screen and (min-width: 1438px){
  button.btn.kolor2{
    position: relative;
    left: 10%;
  }
}
@media only screen and (min-width: 560px and max-width: 1320px){
  div.base4{
    position: relative;
    right: 30px;
  }
  div.base7.margtop2{
    position: relative;
    right: 30px;
  }
}
@media only screen and (max-width: 420px){
  div.container-fluid.margtop{
  }
  span.d-flex.spaflex{
    padding-right: 50px;
  }
}
@media only screen and (max-width: 420px){
  div.col-sm-12.col-md-9.col-lg-9 {
    width: 24em;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media only screen and (min-width: 414px and max-width: 420px){
  div.col-sm-12.col-md-9.col-lg-9 {
    width: 23em;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media only screen and (min-width: 1024px){
div.row.top-header {
    display: flex!important;
}
}
@media only screen and (min-width: 768px and max-width: 780px){
div.topnav {
    width: 108%!important;
}
}
@media only screen and (max-width: 570px){
  p.rectangle.margtop2{width: 25px; height: 20px;}
  p.rectangle2.margtop2{width: 25px; height: 20px;}
  p.rectangle3.margtop2{width: 25px; height: 20px;}
  p.rectangle4.margtop2{width: 25px; height: 20px;}
  p.rectangle5.margtop2{width: 25px; height: 20px;}
  p.rectangle6.margtop2{width: 25px; height: 20px;}
  p.rectangle7.margtop2{width: 25px; height: 20px;}
  div.row.zeroto7{
    display: none;
  }
}
@media only screen and (max-width: 360px){
}
@media only screen and (min-width: 410px and max-width: 420px){
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
@media only screen and (min-width: 570px){

}
@media only screen and (max-width: 500px){
  input{width: 65px!important;}
  select{width: 105px!important;}
  span.span6 > input{width: 105px!important;}
  span.span7 > input{width: 105px!important;}
  .wid77{width: 70%!important;}
} */

.dataTables_wrapper .dataTables_filter {
display: none !important;
table-layout: fixed !important;
word-wrap:break-word;
}

.dataTables_wrapper th { font-size: 13px; }
.dataTables_wrapper td { font-size: 12px; }
select.js-example-basic-multiple{
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d7dae2;
    background-color: #ffffff;
}
span.select2.select2-container.select2-container--default{
  width: 45%!important;
margin-top: 5%;
    right: 4%;}
.select2-container--default .select2-selection--single{
  height: 38px!important;}
  .select2-container--default .select2-selection--single.bro{
  height: 38px!important;
  width: 45%!important;}
.ms-drop ul > li label{text-align: left!important;}
.ms-drop{width: 130%!important;}
.flamujtekuq{    width: 80px!important;
    font-size: 14px;
    height: 28px!important;
    display: block;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    border-radius: 4px;
    background-color: #fff;}
.txtalign{text-align: center;}
#example{white-space: normal!important;}
.modal-open .modal{overflow-y: hidden;}
@media only screen and (max-width: 685px){
  div#example_wrapper.dataTables_wrapper.no-footer{
  
    float: left;
    overflow-x: auto;
  }
}
.modal-one{
    position: absolute;
    z-index: 9999;
    top: 25%;
    box-shadow: 0px 1px 3px #666;
    display: none;
}
.wt{margin: 0; width: 100%; justify-content: center;}
.wt1{background-color: transparent; color: white; font-size: 18px; font-weight: normal;}
.wt2{height: 735px!important; width: 375px!important;}
.jcsb{justify-content: space-between!important;}
/*.magicpad{padding: 0 19px 0 40px;}*/
.rowmarg0{margin: 0;}
.magicpadl{padding-left: 1.7%;}
.mwidth{max-width: 100%;}
.mwidth2{margin-top: 40px; max-width: 100%;}
.fa .fa-bars{color: #973d3b;}
.page-item.active .page-link{
  z-index: 1;
  color: #ffff;
  background: linear-gradient(270deg,#a73c42 0,#541e21);
  border-color: #ffff;
}

 .row.under-header {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Exo", sans-serif;
  color: #fff;
  background-color: #992d33;
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.base4.d-flex {
  margin: 0;
  width: 100%;
  font-family: "Exo", sans-serif;
  color: #fff;
  background-color: #992d33;
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

.new-base{
  border-radius: 10px;
  border: 2px solid #f4f4f4;
  background-color: #fff;
  height: 85px;
}

.modal-footer{
  justify-content: flex-start!important;
}

.ms-parent.akontraktuese{
  width: 95%!important;
}

.ms-parent.fituesi{
  width: 70%!important;
}

select.furnizuesi{
  width: 65%!important;
  height: 28px;
}

.jscalendar{
  background-image: url(../img/icon_calendar.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%;
}

.calendar1{
    height: 36px;
    height: 2.25rem;
    border-radius: 4px;
    border-radius: .25rem;
    line-height: 34px;
    line-height: 2.125rem;
    padding-left: 10px;
    font-size: 12px;
    padding-left: .625rem;
    padding-right: 34px;
    padding-right: 2.125rem;
    margin-bottom: 14px;
    margin-bottom: .875rem;
    border: 1px solid #b1b1b1!important;
}

.w-40{
  width: 40%!important;
}

.form-select{
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/icon-arow-down-grey.svg);
  background-size: 12px 9px;
}

.select-input{
  height: 36px;
  height: 2.25rem;
  border-radius: 4px;
  border-radius: .25rem;
  line-height: 34px;
  line-height: 2.125rem;
  padding-left: 10px;
  padding-left: .625rem;
  padding-right: 34px;
  padding-right: 2.125rem;
  margin-bottom: 14px;
  font-size: 14px;
  margin-bottom: .875rem;
  border: 1px solid #b1b1b1!important;
}

.value-input{
  height: 36px;
  height: 2.25rem;
  border-radius: 4px;
  padding-left: 5px;
  border-radius: .25rem;
  line-height: 34px;
  line-height: 2.125rem;
  margin-bottom: 14px;
  margin-bottom: .875rem;
  border: 1px solid #b1b1b1!important;
}

.ms-choice{
  height: 36px!important;
}

span.placeholder{
  padding-top: 5px;
}

.modal-content{
  width: 75%;
}

.row.top-header{
margin: 0;
width: 100%;
font-family: "Exo", sans-serif;
color: #fff;
background-color: #992d33;
background-size: 400% 400%;
animation: gradientBG 10s ease infinite;
}

.ml-05{
  margin-left: 0.03rem!important;
}

.mr-05{
  margin-right: 0.03rem!important;
}

div.row.ml-05.mr-05.dsa{
  min-height: 150px;
}

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

@media (max-width: 1024px){
  div.base5{
    margin-top: 2%!important;
  }
  div.base7{
    margin-top: 2%!important;
  }
}
/* 
ul.box-area{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 28.5%;
  overflow: hidden;
  z-index: 1;
}

.box-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(66, 38, 38, 0.13);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(2){
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3){
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
}
.box-area li:nth-child(4){
  left: 27%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box-area li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6){
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(7){
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(8){
  left: 5%;
  width: 20px;
  height: 20px;
  animation-delay: 3.5s;
}

@keyframes animate{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
} */

/* @media (min-width: 992px){
  .col-lg-b {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 21%;
  }    
} */

.rgbred{
  background-color: #992d33;
  color: #fff;
}

a.page-link{
  color:#a73c42; 
}

.ms-choice > div{
  background-repeat: no-repeat!important;
  background-position: calc(100% - 12px) 50%!important;
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
  width: 30px!important;
  height: 35px!important;
  background-image: url(../img/icon-arow-down-grey.svg)!important;
  background-size: 12px 9px!important;
}

.page-link:hover
{
  color: #973d3b;
}